.footer {
    width: 100%;
    height: 200px;
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;  
  }
  .innerFooter {
    height: 100px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .footerLinkContainer {
    color: black;
    font-weight: bold;
    margin: 2%;
    text-decoration: none
  }
  .footerLinkContainer a {
    color: black;
    font-weight: bold;
    margin: 2%;
    margin-left: 10px;
    text-decoration: none
  }
  .footerWriterContainer {
    align-items: right;
    margin-right: 1%;
    /* margin-left: 950px; */
  }
  
  .socialMedia svg {
    color: black;
    margin: 20px;
    font-size: 55px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .footer p {
    color: black;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      flex-direction: row;
  
  
    }
    .socialMedia svg {
      color: black;
      font-weight: bold;
      font-size: 25px;
  
    }
    .footerWriterContainer {
      align-items: right;
      margin-right: 1%;
      /* margin-left: 950px; */
    }

  }
  