
.home{
background-color: #BDBDBD;
flex-direction: row;
display: flex;
padding: 75px;
align-items: center;
}
.preview{
  /* background-color: red; */
  text-align: center;
  margin-left: 220px;
  
}
.home_image{
  height: 550px;
  object-fit: cover;
  border-radius: 30px;
  /* box-shadow: 0 0 8px hsla(hue, saturation, lightness, alpha) */
  margin-left: 70px;
}
.button{
  display: inline-block;
  color:black;
  padding: 10px 50px 10px 50px;
  border-radius: 35px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid;
  position: relative;
  font-size: large;
  font-weight: 700;
}
.button_icon {
  position: absolute;
  inset-block: -2px;
  text-align: center;
  line-height: 60px;
 }


  @media only screen and (max-width: 600px) {
    .home .prompt {
      margin-top: 10px;
      font-size: 20px;
      width: 80%;
      display: flex;
    }
  
    .home {
      text-align: center;
    }
    .list {
      padding: 0;
    }
  
  }