
/* ***************GOOGLE FONTS ************* */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');


.Container {
    background: #F0F0F0;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}
h4{
    font-style: bold;
    margin-top: 4px;
}

@media only screen and (max-width: 600px) {

}